*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


header {
    width: 50%;
    height: 10dvh;
    padding: 0 0.25em;
    background-color: orange;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  
footer {
    width: 50%;
    height: 5dvh;
    padding: 0.25em;
    background-color: orange;
    color: aliceblue;
    display: grid;
    place-content: center;
}
  
.body {
    height: 85dvh;
    width: 50%;
    background-color: lightgrey;
    border: 2px solid orange;
    display: flex;
    flex-direction: column;
}
  
.square {
    height: 200px;
    width: 200px;
    border-top: 1px solid;
    border-left: 1px solid;
    box-shadow: 2px 2px 2px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

input {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px orange;
    margin: auto;
    margin-top: 50px;
    display: block;
    padding: 10px;
}

button {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px gray;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 86px;
    display: block;
    cursor: pointer;
}
